html {
  background: linear-gradient(to right, rgba(92,47,215,1) 0%, rgba(139,60,214,1) 100%);
}
body {
  font-size: 70px;
}
.wrapper {
  margin:5%;
  margin-left:10%;
  margin-right:10%;
}
@media only screen and (max-width: 700px) {
  .wrapper {
    margin: 0%;
  }
}
hr {
    clear: both;
    visibility: hidden;
}

h1 {
  font-family: 'Roboto Mono', monospace;
  font-weight: 900;
  font-size: 100%;
  margin: 0;
  color: white;
}
h2 {
  font-family: 'Roboto Mono', monospace;
  margin: 0;
  font-size: 25%;
  font-weight: normal;
  color: white;
}
h3 {
  font-family: 'Roboto Mono', monospace;
  font-size: 30%;
  margin: 0;
}
h4 {
  font-family: 'Roboto Mono', monospace;
  margin: 0;
  font-size: 30%;
  font-weight: bold;
  color: white;
}
p {
  font-family: 'Roboto Mono', monospace;
  font-size: 20%;
  margin: 0;
}

.profile {
  color: #D6FF79;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 10px;
    width: calc(33% - 20px);
    min-width: 150px;
    border-radius: 2px;
    background-color: white;
    transition: 0.3s;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
    transform: scale(1.05);
    cursor: pointer;
}
.container {
    padding: 4px 16px;
}
.grid-size {
  width: calc(33% - 20px);
}

/* Container for skill bars */
.containerBar {
    width: 100%; /* Full width */
}

.skills {
    text-align: right; /* Right-align text */
    padding-right: 20px; /* Add some right padding */
    line-height: 30px; /* Set the line-height to center the text inside the skill bar, and to expand the height of the container */
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    font-size: 25%;
    font-weight: normal;
    color: white;
    border-radius: 2px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.html {width: 90%; background-color: #FE4A49;}
.css {width: 80%; background-color: #FED766;}
.js {width: 65%; background-color: #2AB7CA;}
.php {width: 60%; background-color: #D6FF79;}

/*--------------------------------------------------------------------------------------------------

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}

.modal:hover {
  cursor: zoom-out;
}

/* Modal Content/Box */
.modal-content {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    width: 50%;
    top: 15%;
    left: 25%;
    z-index: 1; /* Sit on top */
    background-color: #ffffff;
    padding: 20px;
    border: 0;
    border-radius: 3px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
}

/*--------------------------------------------------------------------------------------------------
